<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Document</title>
    <script src='../libs/angular.min.js'></script>
    <style>
    #d{
        border:1px solid red ;
        width:100px;
        height: 100px;
    }
    .d1{
        background-color:red;
    }
    #d2{
        border:1px solid red ;
        width:100px;
        height: 100px;
    }
    .black{
        background-color: black;
    }
    .blue{
        background-color: blue;
    }
    </style>
</head>
<body ng-app='app'>
    <div ng-include="'head.html'"></div>
    <ul ng-controller="ctrl">
        <li ng-show="isshow">这是ng-show</li>
        <!-- ng-show可与取值为true或者1，则显示元素预知false或者0，则影藏元素 -->
        <li ng-show="0">这是ng-show</li>
        <li ng-hide="false">这是ng-hide</li>
        <li ng-hide="1">这是ng-hide</li>
        <li ng-if="false">这是ng-if</li>
        <li>{{msg}}</li>
        <li ng-bind="msg"></ling-band>
        <li>
            <label><input type="radio" name="gender" value="M" ng-chenked="sex=='M'">男</label>
            <label><input type="radio" name="gender" value="F" ng-chenked="sex=='F'">女</label>
        </li>
        <li>
            <img ng-src="{{path}}">
        </li>
        <li ng-repeat="(k,stu) in stus">
            {{k}},{{stu}}
            <!-- track by $index 当数组中有重复元素师，ng-repeat会出错，添加该语句可以避免出出错 -->
        </li>
        <li ng-repeat="stu in stus track by $index">
            {{$index}},{{stu}}
        </li>
        <li>
            <div id="d" ng-class="{d1:color=='red'}"></div>
            <div id="d2" ng-class="{black:color==1,blue:color==2}"></div>
        </li>
        <li>
            <select ng-model="val">
                <option value="1">html</option>
                <option value="2">css</option>
                <option value="3">js</option>
            </select>
        </li>
        <li>
            <ul ng-switch="val">
                <li ng-switch-when="1">html的内容</li>
                <li ng-switch-when="2">css的内容</li>
                <li ng-switch-when="3">js的内容</li>
            </ul>
        </li>
    </ul>
    
</body>
<script>
    var app = angular.module('app', []);
    app.controller("ctrl",["$scope",function($scope){
        $scope.isshow=false;
        $scope.msg="模型层绑定的数据";
        $scope.sex="M";
        $scope.path="../day03/f.jpeg";
        $scope.stus=['jack','mike','lucy','lily'];
        $scope.color=2;
    }])

</script>

</html>
